<turbo-frame id="<%= dom_id(user) %>">

	<tr>
		<td> <%= user.id %> </td>
		<td><%= user.username%> </td>
		<td> <%= follower_count[user.id] || 0 %> </td>
		<td> <%= following_count[user.id] || 0 %> </td>
		<td style='display:flex; gap:20px'><%= link_to 'See', user_path(user.id)%>
		<%= link_to 'Edit', edit_user_path(user.id)%>
		
		<% if @current_user != user %>
			<%= button_to 'DELETE', user_path(user.id), method: :delete, form: { data: { turbo_confirm: "Are you sure?" }}%>
		<% end %>

		<% if @current_user != user %>
			<% if @current_user_followings.include?(user.id)%>
				<%= button_to 'Unfollow', delete_follow_user_path(user.id), method: :post, :style=>'color: red;'%></td>
			<% else %>
				<%= button_to 'Follow', create_follow_user_path(user.id), method: :post, :style=>'color: green;' %>
			<% end %>
		<% end %>
	</tr>
</turbo-frame>
