<h1>Users Home</h1>
<h1> La cantidad de usuarios es: <%= @users.count %> </h2>
<%= link_to 'Crear nuevo usuario', new_user_path %>
<%= @current_user_followings%>
<table style='width:40%; text-align:center'>

  <thead>
    <th>
      ID
    </th>
    <th>
    Nombre
    </th>
    <th>
    Seguidores
    </th>
    <th>
    Seguidos
    </th>
    <th>
    </th>
  </thead>

<tbody>
  <%= turbo_frame_tag 'index' do %>
      <%= render @users,
      follower_count: @follower_count,
      following_count: @following_count %>
  <% end %>
</tbody>

</table>
