<h1>Users Home</h1>
<h1> La cantidad de usuarios es: <%= @users.count %> </h2>
<%= link_to 'Crear nuevo usuario', new_user_path %>

<table style='width:60%; text-align:center'>
  <thead>
    <th>
      ID
    </th>
    <th>
    Nombre
    </th>
    <th>
    Seguidores
    </th>
    <th>
    Seguidos
    </th>
    <th>
    </th>
  </thead>
<tbody>
  <% @users.each do |user|%>
      <%= render partial: "user", locals: { user: user } %>
      <%# LO ANTERIOR SIMPLIFICADO %>
        <%# <%= render "user", user: user %> 
      <%# LO ANTERIOR SIMPLIFICADO, entiende que es una coleccion de usuarios y los recorre %>
        <%# <%= render @users %>
  <% end %>
</tbody>
</table>
